<div class="row">
  <div class="col-xs-12">
    <h1>A working project</h1>
    <p>AngularJS and ExpressJS with Google Authentication project to start new projects.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <h2>Google</h2>
    <p>Perform authentication using Google for easy integration.</p>
  </div>
  <div class="col-xs-4">
    <h2>Bootstrap and ExpressJS</h2>
    <p>Popular frameworks for easy development.</p>
  </div>
  <div class="col-xs-4">
    <h2>Image 100 words!</h2>
    <p>A screen shot showing how awesome this tool is!</p>
  </div>
</div>
