# Dist folder.
dist/

# Node modules.
node_modules/

# Bower modules.
vendor/

# Configuration with secret and access key.
conf/app.json

# RPM packages.
*.rpm

# Data files.
data

# Log
base-auth.log